.form-group label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  max-width: 500px;
  min-width: 300px;
  height: 550px;
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.form-header {
  display: inline;
  width: 90px;
  text-align: left;
  margin-left: 60px;
  padding-bottom: 5px;
  border-bottom: 5px solid black;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  align-items: center;
}

.form-cntrl {
  max-width: 350px;
  min-width: 300px;
  padding: 20px 35px;
  margin-bottom: 15px;
  height: 20px;
  background: #f2f2f2;
  border: none;
  border-radius: 20px;
}

.form-cntrl:focus {
  outline-color: #6174b9;
}

.form-submit {
  display: block;
  width: 350px;
  background: #6174b9;
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  border: none;
  margin-bottom: 10px;
  border-radius: 22px;
}

.form-wrapper p {
  font-size: 14px;
  width: 350px;
}

.close {
  position: absolute;
  padding: 0px;
  top: 10px;
  right: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.close i {
  margin: 0px;
}

@media all and (max-width: 600px) {
  .form-submit {
    width: 300px;
  }
  .form-wrapper p {
    font-size: 14px;
    width: 300px;
  }
  .form-header {
    margin-left: 10px;
  }
}
