.chat-icon {
  position: absolute;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chat-symbol {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  width: 45px;
  height: 25px;
  position: absolute;
  right: 25px;
  bottom: 55px;
  color: var(--purple);
  cursor: pointer;
}

.chat-symbol span {
  position: absolute;
  color: var(--black);
  font-size: 1.8rem;
  right: 20px;
}

.chat-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.chat-symbol:hover {
  transform: scale(1);
  opacity: 0.8;
}
