.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-wrapper {
  background-color: #6174b9;
  width: 100vw;
  height: 95px;
  color: #fff;
}

.footer-logo {
  font-family: Montserrat;
  color: #fff;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}

.footer-content p {
  margin-top: 25px;
}

@media all and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
