.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-wrapper {
  background-color: var(--purple);
  width: 100vw;
  height: 95px;
  color: var(--white);
}

.footer-logo {
  font-family: var(--montserrat);
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  margin-top: 10px;
}

.footer-content p {
  margin-top: 25px;
}

.footer.cont {
  max-width: 1580px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}
@media all and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-wrapper {
    height: 120px;
  }
}
