.main-header {
  position: relative;
}
.hero-wrapper {
  display: flex;
  width: 100vw;
  position: relative;
  background: var(--hero-primary);
  align-items: center;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  height: 500px;
  text-align: center;
}
.text-wrapper h1 {
  font-family: var(--poppins);
  padding: 10px;
  color: var(--white);
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
}
.image-wrapper {
  height: 100%;
}
.hero-image {
  margin-top: 10px;
  width: 850px;
  height: 99%;
}

@media all and (max-width: 1200px) {
  .text-wrapper h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-left: 1.5rem;
  }

  .hero-image {
    width: 800px;
    height: 99.2%;
  }
}

@media all and (max-width: 960px) {
  .hero-wrapper {
    flex-direction: column;
    height: 700px;
  }
  .hero-image {
    margin-top: -30px;
    margin-left: 60px;
    width: 400px;
    max-height: 450px;
  }
  .text-wrapper h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media all and (max-width: 768px) {
  .hero-image {
    width: 380px;
    max-height: 860px;
  }
}

@media all and (max-width: 500px) {
  .hero-image {
    width: 350px;
    margin-left: 0px;
    max-height: 400px;
    justify-self: center;
  }
}
