.info-c-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-c-wrapper h1 {
  font-family: var(--poppins);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.info-c-wrapper p {
  font-family: var(--poppins);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

@media all and (max-width: 960px) {
  .info-c-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .info-c-wrapper p {
    font-size: 1rem;
  }
  img[alt='arrow'] {
    transform: rotate(90deg);
  }
}
