.info-d-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.image-group {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.image-container-1 {
  display: flex;
  width: 50%;
}

.image-container-2 {
  display: flex;
  width: 50%;
}
#people1,
#people2 {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 2px;
}

#people3,
#people4 {
  height: 160px;
  border-radius: 10px;
  margin: 2px;
}
#people2 {
  width: 160px;
}
#people4 {
  width: 100px;
}

.info-d-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-d-2 h1 {
  font-family: var(--poppins);
  font-size: 3rem;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--purple);
}

.info-d-2 p {
  font-family: var(--poppins);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 32px;
  margin-left: 0.5rem;
  text-align: left;
}

.play-btn {
  font-family: var(--poppins);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 192px;
  font-size: large;
  border-radius: 25px;
  background: var(--purple);
  color: var(--white);
  cursor: pointer;
  border: none;
  transition: all 1s ease-in;
}

.play-btn:hover {
  background: #3a4a83;
}

.play-btn img {
  margin: 10px;
}

@media all and (max-width: 1020px) {
  .info-d-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .info-d-2 {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .image-group {
    width: 100vw;
    align-items: center;
  }
  #people1,
  #people3,
  #people4 {
    width: 200px;
    height: 200px;
  }
}

@media all and (max-width: 600px) {
  .info-d-wrapper {
    width: 350px;
  }
  .image-group {
    align-items: flex-start;
  }
  .info-d-2 {
    width: 60%;
    align-items: flex-start;
  }
  #people2 {
    width: 160px;
  }
  #people4 {
    width: 100px;
  }
}
