.info-a-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.info-a-quote {
  display: flex;
  /* padding: 50px 0px 0 50px; */
  align-items: center;
}

.info-a-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0px 0px;
}

.info-a-wrapper h1 {
  font-family: var(--poppins);
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  text-align: right;
  color: var(--purple);
}

.line {
  position: absolute;
}

.line img {
  margin-top: 20px;
  width: 1px;
  height: 205px;
}

.clr {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 14px;
  left: -4px;
  background: #4c5aa1;
  border-radius: 50%;
}

.norm {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #4c5aa1;
  width: 9px;
  height: 9px;
}

.norm-1 {
  top: 85px;
  left: -4px;
}

.norm-2 {
  top: 155px;
  left: -4px;
}

.norm-3 {
  top: 225px;
  left: -4px;
}

.content-section {
  margin-left: 40px;
}
.content-section p {
  font-family: Poppins;
  font-size: 1rem;
  padding: 10px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.content-section p:nth-child(4) {
  padding-bottom: 0px;
}

.content-section p:nth-child(1) {
  color: var(--purple);
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

@media all and (max-width: 960px) {
  .info-a-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .info-a-quote {
    padding-left: 0px;
  }

  .info-a-quote h1 {
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
    padding: 5px;
  }
}
