.info-b {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.info-b h1,
p {
  text-align: center;
}
.info-b-wrapper {
  width: 100vw;
}
.info-b h1 {
  font-family: var(--poppins);
  font-size: 3rem;
  font-style: normal;
  color: #444c58;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.info-b p {
  font-family: var(--poppins);
  font-size: 1rem;
  font-style: normal;
  color: #444c58;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

@media all and (max-width: 600px) {
  .info-b {
    margin-top: 0px;
  }
}
