.navbar {
  background: var(--hero-primary);
  width: 100vw;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 20px;
}

.nav-menu li a {
  font-family: var(--poppins), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white);
}

.nav-menu-active {
  display: none;
}

.logo-wrapper h1 {
  color: var(--white);
  margin-top: 20px;
  font-family: var(--montserrat), sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  cursor: pointer;
}

.fa-bars {
  margin: 10px;
}

.btn.signup {
  color: var(--black);
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 18px;
  background: var(--white);
}

.mobile-menu-btn {
  display: none;
}

@media all and (max-width: 960px) {
  .navbar .container {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu-active {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-width: 450px;
  }
  .nav-menu-active li {
    text-align: center;
    padding: 20px;
  }
  .nav-menu-active li a {
    font-family: var(--poppins), sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--white);
  }
  .mobile-menu-btn {
    display: block;
    color: var(--white);
    position: absolute;
    right: 6px;
    top: 6px;
  }
}
