.navbar {
  background: var(--hero-primary);
  width: 100vw;
}
.navbar-lg {
  background: transparent;
  width: 100vw;
  height: 90px;
  position: absolute;
  z-index: 1;
  top: 35px;
}
.navbar .container,
.navbar-lg .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1550px;
}

.logo-wrapper h1 {
  color: var(--white);
  margin-top: 20px;
  font-family: var(--montserrat), sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  cursor: pointer;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 30px;
}

.nav-menu li a {
  font-family: var(--poppins), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0px;
  text-align: left;
  color: var(--white);
}

.fa-bars {
  margin: 10px;
}

.btn.signup {
  color: var(--black);
  font-weight: 600;
  padding: 6px 25px;
  border-radius: 18px;
  font-size: 14px;
  background: var(--white);
  transition: all 0.5s ease-out;
}

.btn.signup:hover {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

.nav-link {
  transition: border 0.1s ease-out;
}
.nav-link:hover {
  border-bottom: 5px solid var(--white);
}

.mobile-menu-btn {
  display: none;
}

.logo-wrapper h1 {
  width: 100%;
}

@media all and (max-width: 960px) {
  .navbar .container {
    flex-direction: column;
    align-items: center;
  }
  @keyframes nav {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-active {
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: var(--hero-primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    animation: nav 0.3s ease-in 1 forwards;
  }
  .nav-menu-active li {
    text-align: center;
    padding: 20px;
  }
  .nav-menu-active li a {
    font-family: var(--poppins), sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: var(--white);
  }
  .mobile-menu-btn {
    display: block;
    color: var(--white);
    position: absolute;
    right: 6px;
    top: 6px;
  }
}
