@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@700&display=swap');

:root {
  --black: #333;
  --white: #fff;
  --purple: #6174b9;
  --darkPurple: #4c5aa1;
  --lightPurple: #a4b0ea;
  --hero-primary: #a1aaba;
  --poppins: 'Poppins';
  --montserrat: 'Montserrat';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

.btn {
  color: var(--purple);
  height: 30px;
  width: 100px;
  border: none;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 18px;
  background: var(--white);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 22px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  outline: none;
  border-radius: 22px;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.divider {
  margin-bottom: 100px;
}
