@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  color: #6174b9;
  height: 30px;
  width: 100px;
  border: none;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 18px;
  background: #fff;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 22px;
}

::-webkit-scrollbar-thumb {
  background-color: #6174b9;
  outline: none;
  border-radius: 22px;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.divider {
  margin-bottom: 100px;
}
